@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html {
    scroll-behavior: smooth;
}

nav {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    padding: 0 80px;
    background-color: rgb(0, 142, 178);
}

nav a {
    display: flex;
    align-items: center;
    color: whitesmoke;
    text-decoration: none;
}

nav h3 {
    font-size: 2.1em;
    text-transform: uppercase;
}

nav i {
    font-size: 1em;
    margin: 0 0 8px;
    color: whitesmoke;
    transform: rotate(6deg);
    transition: all 0.2s;
}

nav a:hover i {
    color: yellow;
}

body {
    background: rgb(189, 215, 236);

}

div.avatar_container {
    text-align: center;
    padding-top: 24px;
    padding-bottom: 5px;
    padding-right: 0px;
    padding-left: 0px;
    object-fit: contain;
}

img {
    border-radius: 100%;
    border-style: solid;
    border-width: 6px;
    border-color: lightgray;
    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.4);
}

#box {
    background: #fff;
    border-radius: 25px;
    width: 540px;
    height: 677px;
    margin: auto;
    padding: 28px;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
}

.title {
    position: relative;
    margin: auto;
    top: 50px;
    font-size: 1.4em;
    font-weight: 900;
    color: rgb(37, 144, 219);
    transform: translate(0px, -50%);
    background: #fff;
    width: max-content;
    padding: 8px;
    border-radius: 20px;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
}

h2 {
    text-transform: uppercase;
    color: black;
    font-weight: 900;
    font-size: 1.9em;
    text-align: center;
    margin: 30 0 15 0px;
}

form {
    width: 70%;
    padding: 20 20 20 20px;
    margin: auto;
    margin-top: 30px;
    border-radius: 24px;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    background: #F1F1F1;
}

input {
    width: 100%;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-right: 0px;
    padding-left: 12px;
    margin-top: 8px;
    margin-bottom: 8px;
    margin-right: 0px;
    margin-left: 0px;
    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
    border-color: lightgrey;
}

button {
    border-style: none;
    width: 100%;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-right: 0px;
    margin-left: 0px;
    color: white;
    background-color: rgb(76, 130, 0);
    padding: 0 12 0 0px;
    height: 46px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 0.9em;
    font-weight: 600;
    transition: all 0.1s ease-in-out;
}

.click button:nth-child(1):hover {
    border-style: solid;
    border-width: 0.1px;
    border-color: rgb(76, 130, 0);
    background: white;
    color: rgb(76, 130, 0);
}

.forget a {
    width: 100%;
    margin: 0 0 0 40px;
    color: rgb(37, 144, 219);
    padding: 3 8 3 8px;
    border-radius: 7px;
    cursor: pointer;
    font-size: 0.7em;
    font-weight: 600;
    transition: all 0.1s ease-in-out;
    text-decoration: none;
}

.forget a:hover {
    background: rgb(37, 144, 219);
    color: white;
}
